# Build directories
bin/

# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
*~
*.swp
*.swo
.vscode/
.idea/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.orig
.env
.log
tools/monitor/states
investigation/data/archive

